{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block content %}
        <h2>Django CRUD Operation</h2><br>
        <p>CRUD (Create, Read, Update, Delete) operations are fundamental actions in web applications for managing data. In a Django project, CRUD operations refer to how data is created, retrieved, updated, and deleted in a database. Here's a short note on CRUD operations in a Django project:</p>
        <p>
            1. <strong>Create (C):</strong><br>
            Creating data involves adding new records to a database. In Django, it's typically done through forms, where users provide input, and this input is validated and saved to the database.
        </p>
        <p>
            2. <strong>Read (R):</strong><br>
            Reading data involves retrieving information from the database and displaying it to the user. In Django, views and templates are used to fetch and display data from the database.
        </p>
        <p>
            3. <strong>Update (U):</strong><br>
            Updating data allows users to modify existing records. In Django, this is typically done through forms pre-filled with the data to be updated, and the changes are saved to the database.
        </p>
        <p>
            4. <strong>Delete (D):</strong><br>
            Deleting data removes records from the database. In Django, users can trigger deletion either through confirmation prompts or by clicking a delete button, which removes the corresponding record from the database.
        </p>
        <p>
            CRUD operations are essential for building dynamic web applications that interact with databases. Django provides a robust framework for performing these operations efficiently and securely, simplifying the development process and allowing developers to focus on building rich and functional web applications.
        </p>
        
{% endblock %}